* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
  }
  body {
    background: rgb(0, 0, 0);
  }
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
  }
  .navlist {
    display: flex;
    list-style-type: none;
  }
  .navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
  }
  .navlist a:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    color: #ff0000;
  }
  #menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  .icons {
    margin: 0 auto;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
  }
  .icons i {
    display: block;
    font-size: 72px;
    color: white;
    transition: all 0.5s ease;
  }
  .icons i:hover {
    color: #ff0000;
    transform: translateY(-5px);
  }
  @media (max-width: 990px) {
    #menu-icon {
      display: block;
    }
    .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 40vh;
      background: #c00000;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all 0.55s ease;
    }
    .navlist a {
      display: block;
      margin: 10px 0;
      margin-left: 0;
    }
    .navlist.open {
      right: 0;
    }
  }
  @media (max-width: 990px) {
    .hero-img img {
      width: 700px;
      height: auto;
    }
  }  